html, body, body > div, #clf-app {
  height: 100%
}
body {
  background: lightblue url("/assets/background.jpg") no-repeat fixed center;
}

.fill {
  flex: 1;
}

.clf-image-gallery {
  overflow: hidden;
}
.clf-image-gallery * {
  max-height: 100%;
  display: flex;
  object-fit: contain;
  background: rgba(255, 255, 255, 0)!important;
}

.clf-detail {
  flex: 1 1 auto;
}

.clf-detail object {
  flex: 1 1 auto;
}
