@font-face
  font-family: 'signature-of-the-ancient'
  src: url(asset-path('signature-of-the-ancient.ttf')) format('truetpye')

.clf-brand
  cursor: pointer

.clf-brand-name
  font-family: signature-of-the-ancient
  font-size: 1.5rem

.clf-nav-item
  text-align: right
  font-size: 1.1rem
  font-weight: 300
  line-height: 2.5
  span
    cursor: pointer

.clf-nav-item-active
  font-weight: bold
