@font-face
  font-family: 'clf-font'
  src: asset-url("clf-font.ttf") format('truetype')

.clf-brand
  cursor: pointer

.clf-brand-contact
  font-size: .7rem
  text-align: right
  .clf-brand-name
    font-family: clf-font
    font-size: 1.5rem

.clf-language
  width: 20px
  margin-left: 20px

.clf-lang-eng, .clf-lang-esp
  object
    cursor: pointer

.clf-nav-item
  text-align: right
  font-size: 1.1rem
  font-weight: 300
  line-height: 2.5
  span
    cursor: pointer

.clf-nav-item-active
  font-weight: bold
